@import "tailwindcss";


:root {
  --font-poppins: var(--font-poppins);
  --font-inter: Inter, sans-serif;
  --font-work-sans: "Work Sans", sans-serif;

  --hackathon-primary: #22577a;
  --hackathon-blue-100: #38a3a5;
  --hackathon-green-100: #e7f7e9;
  --hackathon-green-300: #57cc99;
  --hackathon-gray-100: #e7e7e7;
  --hackathon-gray-200: #9ea4af;
  --hackathon-gray-300: #525252;
  --hackathon-page: #f5f5f5;

  --status-pending: #ffcf55;
  --status-accepted: #80ed99;
  --status-rejected: #f07167;

  --table-pending: #fff0bb;
  --table-accepted: #cfede9;
  --table-rejected: #ffe8e2;
  --table-selected: #e7f7e9;

  --calendar-today: #e7f7e9;

  --timer-add: #0e1729;
  --timer-clear: #ef4444;

  --tag-red-bg: #ffe9e2;
  --tag-red-text: #f07167;
  --tag-yellow-bg: #fff0bc;
  --tag-yellow-text: #ffb81c;
  --tag-green-bg: #cfedea;
  --tag-green-text: #00afb9;
  --tag-gray-bg: #e9e9e9;
  --tag-gray-text: #969696;
  --tag-purple-bg: #e6dff6;
  --tag-purple-text: #825ed0;
  --tag-grayblue-bg: #d3dde4;
  --tag-grayblue-text: #22577a;
  --tag-teal-bg: #d7eded;
  --tag-teal-text: #38a3a5;
  --tag-lightgreen-bg: #ddf5eb;
  --tag-lightgreen-text: #57cc99;
  --tag-pink-bg: #ffe3fb;
  --tag-pink-text: #f583f1;
  --tag-white: #ffffff;

  --sidebar-bg: #22577a;
  --sidebar-foreground: #f5f5f5;
  --sidebar-primary: #38a3a5;
  --sidebar-primary-foreground: #f5f5f5;
  --sidebar-accent: #ffcf55;
  --sidebar-accent-foreground: #22577a;
  --sidebar-border: #e7e7e7;
  --sidebar-ring: #ffcf55;

  --landing-blue-100: #9de1ff;
  --landing-orange-100: #ffe0d2;
  --landing-orange-200: #c3a47e;
  --landing-orange-300: #a28561;
  --landing-brown-100: #603a18;
  --landing-brown-200: #77512e;
  --landing-brown-300: #654831;
  --landing-brown-400: #5b3e26;
  --landing-beige-100: #fbe8d5;
  --landing-beige-200: #f1d8bf;
}


.dark {
  --hackathon-page: #0e1729;
  --hackathon-gray-100: #1f2937;
  --hackathon-gray-300: #d1d5db;
  --sidebar-bg: #0e1729;
  --sidebar-foreground: #f5f5f5;
}


@theme {
  --font-family-poppins: var(--font-poppins);
  --font-family-inter: Inter, sans-serif;
  --font-family-work-sans: "Work Sans", sans-serif;

  --color-hackathon-primary: #22577a;
  --color-hackathon-blue-100: #38a3a5;
  --color-hackathon-green-100: #e7f7e9;
  --color-hackathon-green-300: #57cc99;
  --color-hackathon-gray-100: #e7e7e7;
  --color-hackathon-gray-200: #9ea4af;
  --color-hackathon-gray-300: #525252;
  --color-hackathon-page: #f5f5f5;

  --color-hackathon-status-pending: #ffcf55;
  --color-hackathon-status-accepted: #80ed99;
  --color-hackathon-status-rejected: #f07167;

  --color-hackathon-table-pending: #fff0bb;
  --color-hackathon-table-accepted: #cfede9;
  --color-hackathon-table-rejected: #ffe8e2;
  --color-hackathon-table-selected: #e7f7e9;

  --color-hackathon-calendar-today: #e7f7e9;

  --color-hackathon-timer-add: #0e1729;
  --color-hackathon-timer-clear: #ef4444;

  --color-hackathon-tags-red-bg: #ffe9e2;
  --color-hackathon-tags-red-text: #f07167;
  --color-hackathon-tags-yellow-bg: #fff0bc;
  --color-hackathon-tags-yellow-text: #ffb81c;
  --color-hackathon-tags-green-bg: #cfedea;
  --color-hackathon-tags-green-text: #00afb9;
  --color-hackathon-tags-gray-bg: #e9e9e9;
  --color-hackathon-tags-gray-text: #969696;
  --color-hackathon-tags-purple-bg: #e6dff6;
  --color-hackathon-tags-purple-text: #825ed0;
  --color-hackathon-tags-grayblue-bg: #d3dde4;
  --color-hackathon-tags-grayblue-text: #22577a;
  --color-hackathon-tags-teal-bg: #d7eded;
  --color-hackathon-tags-teal-text: #38a3a5;
  --color-hackathon-tags-lightgreen-bg: #ddf5eb;
  --color-hackathon-tags-lightgreen-text: #57cc99;
  --color-hackathon-tags-pink-bg: #ffe3fb;
  --color-hackathon-tags-pink-text: #f583f1;
  --color-hackathon-tags-white: #ffffff;

  --color-sidebar: #22577a;
  --color-sidebar-foreground: #f5f5f5;
  --color-sidebar-primary: #38a3a5;
  --color-sidebar-primary-foreground: #f5f5f5;
  --color-sidebar-accent: #ffcf55;
  --color-sidebar-accent-foreground: #22577a;
  --color-sidebar-border: #e7e7e7;
  --color-sidebar-ring: #ffcf55;

  --color-landing-blue-100: #9de1ff;
  --color-landing-orange-100: #ffe0d2;
  --color-landing-orange-200: #c3a47e;
  --color-landing-orange-300: #a28561;
  --color-landing-brown-100: #603a18;
  --color-landing-brown-200: #77512e;
  --color-landing-brown-300: #654831;
  --color-landing-brown-400: #5b3e26;
  --color-landing-beige-100: #fbe8d5;
  --color-landing-beige-200: #f1d8bf;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
}


@layer base {
  body {
    background-color: var(--hackathon-page);
    color: var(--hackathon-gray-300);
    font-family: var(--font-inter);
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes collapsible-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}
